* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    /*  save overlap */
    overflow: hidden;
}

#page1 {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#page2 {
    height: 100vh;
    width: 100vw;
    background-color: indigo;
}

#page3 {
    height: 100vh;
    width: 100vw;
    background-color: red;
}

#page4 {
    height: 100vh;
    width: 100vw;
    background-color: green;
}