body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    background: rgb(236, 111, 132);
background: #111827;
    color: #d8b4fe;
}

h1 {
    /* display: flex; */
    cursor: pointer;
}

nav {
    /* display: flex; */

}

ul {
    display: flex;
    text-align: right;
    float: inline-end;
    margin-right: 2%;
    margin-top: -50px;

}

li {
    list-style: none;
    padding-left: 30px;
}

h1 {
    margin-top: -37px;
    margin-left: 50px;

}

li:hover {
   
    cursor: pointer;



}

video {
    margin-left: 30px;

    width: 50%;
    border-radius: 30px;
    margin-right: 34px;
    margin-top: 50px;
    float: right;
}

div {
    height: 30%;
}

.span {
    color: purple;
    font-size: 30px;
    margin-left: 100px;

}

.form {
    margin-left: 30px;
    margin-top: 30px;

}

.container {
    width: 80%;

    box-shadow: 15px 9px 149px yellow;
    border-radius: 20px;

    margin-left: 60px;
    margin-top: 130px;
    background-color: whitesmoke;



}

form {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 40%;

}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 25px;
}

button {
    width: 100%;
    padding: 10px;
    background: #0074d9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* input[type="file"] {
    visibility: hidden;
} */
.container:hover {
 
    cursor: pointer;
}



img {

    border-radius: 10px;
    /* filter: grayscale(0.4) blur(0.1px) contrast(1); */
}

img:hover {
    filter: none;
    transition: all ease-in-out;
    background-image: url("");
}

.videos:hover {
    box-shadow: 4px 4px 8px gold;
    cursor: pointer;
}

/* .vid{
    margin-top: 30px;
    margin-left: 130px;

} */
.videos {
    width: 30%;
    /* background-color: wheat; */
background-color: whitesmoke;
    height: 90%;
    border-radius: 20px;
    /* background-color: whitesmoke; */
    margin-left: px;
    padding: 30px;
    box-shadow: 50px 50px 190px gold;

    margin-left: 10px;


}
.videos1 {
    width: 30%;
    /* background-color: wheat; */
background-color: whitesmoke;
    height: 90%;
    border-radius: 20px;
    /* background-color: whitesmoke; */
    margin-left: px;
    padding: 30px;
    box-shadow: 50px 50px 190px gold;

    margin-left: 10px;
    margin-top: 30px;


}
h3 {
    text-align: center;

    color: purple;
}

.image {
    text-align: right;
    margin-left: 120px;
    height: 2%;
    width: 60%;
    margin-top: -270px;

}

.image1 {
    text-align: right;
    margin-left: 420px;
    height: 2%;
    width: 60%;
    margin-top: -310px;

}
.links {
    width: 14%;
text-decoration: none;
    float: right;
    height: 100%;
    margin-right: 60px;
}
footer{
    
    height: 200px;
   margin-top: 130px;
   margin-bottom: 120px;
   border-radius: 30px;
   font-size: 20px;
}
.icons1{
    float: right;
    font-size: 30px;
    margin-left: 70px;
    margin-right: 30px;
    
}
.icons2{
    float: right;
    font-size: 30px;
    margin-top: 50px;
    margin-right: -96px;
    
    
}
.icons3{
    float: right;
    font-size: 30px;
    margin-top: 100px;
    margin-right: -96px;
}
.icons4{
    float: right;
    font-size: 27px;
    margin-top: 150px;
    margin-right: -96px;
   
}
.li{
    padding-right: 5px;
}
.books{
    height: 100%;
    width: 90%;
    /* background-color: white; */
}
.books{
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
}

.booksphoto{
    border: 5px solid black;
    box-shadow: 3px 3p 6px goldenrod;
    border-radius: 6px;
  
}
.books1{
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    margin-left: 23px;
  

}
.booksphoto1{
    border: 5px solid black;
    box-shadow: 3px 3p 6px goldenrod;
    border-radius: 6px;
  
}
.books2{
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
}
.booksphoto2{
    border: 5px solid black;
    box-shadow: 3px 3p 6px goldenrod;
    border-radius: 6px;
  
}
h2{
    text-align: center;
    margin-right: 80px;
    color: white;
    font-size: 30px;
}
#element{
    font-size: 20px;
}
a{
    text-decoration: none;
color: #d8b4fe;
}